:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

.header {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  text-align: center;
}

.main {
  height: 960px;
}

button {
  border: none;
  border-radius: 8px;
  background: #3882F6;
  color: #F9FAF8;
  font-weight: bold;
  font-size: 18px;
  padding: 8px 8px;
  
}

a {
  text-decoration: none;
  color: #F9FAF8;
}

.buttons {
  display: flex;
  flex-flow: column;
  margin-bottom: 30px;
  gap: 0px;
}

#container {
  display: grid;
  height: 960px;
  width: 960px;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  border: 1px solid black;
}

.grid-item {
  padding: 3px;
  /* border: 1px solid #ddd; */
  display: grid;
  flex-wrap: wrap;
}
